.form-card {
    background: #fff;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 900px;
    margin: 60px auto;
  }

  .form-card h2 {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 600;
  }

  .form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;

  }

  .form-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:60px;
  }

  .form-group {
  display: flex;
  flex-direction: column; /* label di atas input */
  margin-bottom: 18px;    /* jarak antar form-group */
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;  /* ini bikin label rapat ke input */
  color: #000;
}

.form-group input[type="text"],
.form-group .icon-upload {
  width: 100%;
  padding: 23px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  font-size: 14px;
  color: #333;
  box-shadow:  0 2px 3px rgba(0,0,0,0.2);
}

  .form-right .image-preview {
    width: 100%;
    height: 350px;
    background: #f5f5f5;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border: 1px solid #787878;
    font-size: 14px;
    box-shadow:  0 2px 3px rgba(0,0,0,0.2);
    overflow: hidden;
  }

  .form-right .image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .form-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;





  gap: 12px;          /* jarak antar tombol */
  margin-top: 15px;
  padding-right: 5px;
}

/* Confirm button */
.submit-btn {
  background:#03B12F;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: background 0.2s ease;
}
.submit-btn:hover {
  background: #028823;
}

/* Back button (removed absolute positioning) */
.back-btn {
  background: red;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: background 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.back-btn:hover {
  background: #780C0C;
}

  .icon-upload {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #f2f2f2;
    color: #007bff;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    border: none;
    cursor: pointer;
  }

  .icon-upload i {
    font-size: 16px;
  }

/* Border biru saat input/textarea focus */
input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid #007bff !important;
  box-shadow: none !important;
}
